<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Saketh.B.Maddineni</title>
  </head>
  <body>
     <div class="card text-center">
  <div class="card-header" style="border: 0.3cm;background-color: rgb(218, 183, 236);font-family:cursive;font-size:1in;">
    <b><i><u>Lead Programming Classes</u></i></b>
  </div>
  <div class="card-body" style="border: 0.3cm;background-color: rgb(232, 232, 130);font-family:cursive;font-size:20px">
    <h2 class="card-title">Learn and Earn</h2>
    <p class="card-text" style="background-color: rgb(232, 232, 130);">Learn all the leading programming languages in just 3 months</p>
    <!--<a href="#" class="btn btn-primary">Go somewhere</a> -->
  </div>

</div>





    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      {% load static %}
      <img src="{% static 'webapp/Images/index_img.jpg' %}" alt="index image" width="100%" height="300px">

    </div>
    <div class="carousel-item">
      {% load static %}
      <img src="{% static 'webapp/Images/c++_img.jpg' %}" alt="c++ image" width="100%" height="300px">
    </div>
    <div class="carousel-item">
      {% load static %}
      <img src="{% static 'webapp/Images/java_img.jpg' %}" alt="java image" width="100%" height="300px">
    </div>
    <div class="carousel-item">
      {% load static %}
      <img src="{% static 'webapp/Images/python_img1.png' %}" alt="python image" width="100%" height="300px">
    </div>
    <div class="carousel-item">
      {% load static %}
      <img src="{% static 'webapp/Images/html_img.jpg' %}" alt="html image" width="100%" height="300px">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

    <div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card text-white bg-success mb-3" style="max-width:100%;">
      <div class="card-header"><h1>C++</h1></div>
      <div class="card-body">

        <p class="card-text">C++ is a general-purpose programming language created by Bjarne Stroustrup as an extension of the C programming language, or "C with Classes".</p>
        <a href="https://en.wikipedia.org/wiki/C%2B%2B" class="btn btn-primary">C++ Wiki</a>
      </div>
    </div>
  </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card text-white bg-secondary mb-3" style="max-width:100%;">
      <div class="card-header"><h1>Java</h1></div>
      <div class="card-body">
        <p class="card-text">Java is a high-level, class-based, object-oriented programming language that is designed to have as few implementation dependencies as possible.</p>
        <a href="https://en.wikipedia.org/wiki/Java_(programming_language)" class="btn btn-primary">Java wiki</a>
      </div>
    </div>
  </div>
</div>
    </div>

     <div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card text-white bg-success mb-3" style="max-width:100%;">
      <div class="card-header"><h1>Python</h1></div>
      <div class="card-body">

        <p class="card-text">Python is a high-level, general-purpose programming language. Its design philosophy emphasizes code readability with the use of significant indentation. Its language constructs and object-oriented approach aim to help programmers write clear, logical code for small- and large-scale projects.</p>
        <a href="https://en.wikipedia.org/wiki/Python_(programming_language)" class="btn btn-primary">Python Wiki</a>
      </div>
    </div>
  </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card text-white bg-secondary mb-3" style="max-width:100%;">
      <div class="card-header"><h1>HTML</h1></div>
      <div class="card-body">
        <p class="card-text">The HyperText Markup Language or HTML is the standard markup language for documents designed to be displayed in a web browser. It can be assisted by technologies such as Cascading Style Sheets and scripting languages such as JavaScript.</p>
        <a href="https://en.wikipedia.org/wiki/HTML" class="btn btn-primary">HTML wiki</a>
      </div>
    </div>
  </div>
</div>
    </div>
     <div style="color: rgb(136, 136, 12);">
       <h5>For further details. Please fill the form below:</h5>

     </div>
     <div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1">Given Name</span>
  <input type="text" class="form-control" placeholder="Given Name" aria-label="Given Name" aria-describedby="basic-addon1">
</div>
     <div style="border:0px; display" width="50%">
  <span class="input-group-text" id="basic-addon1">Last Name</span>
  <input type="text" class="form-control" placeholder="Last Name" aria-label="Last Name" aria-describedby="basic-addon1">
</div>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
</html>
